<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Ecommerce!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/etalage.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/jquery-ui.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/jstarbox.css") %>">    
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/megamenu.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/owl.carousel.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/slippry.css") %>">
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery-ui.min.js") %>"></script>
  </head>

  <body>      
    <%= render Ecommerce.SharedView, "_header.html", conn: @conn %>
    <%= render Ecommerce.SharedView, "_slider.html" %>
    <div class="clear"> </div>
    <div class="wrap">
      <div class="price-rage">
        <h3>Weekly selection:</h3>
        <div id="slider-range">
        </div>
      </div>
    </div>
    <%= render @view_module, @view_template, assigns %>
    <%= render Ecommerce.SharedView, "_footer.html" %>    
  </body>
  <script src="<%= static_path(@conn, "/js/easing.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/easyResponsiveTabs.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/jquery.easy-ticker.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/jquery.etalage.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/jstarbox.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/megamenu.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/menu_jquery.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/modal.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/move-top.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/owl.carousel.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/scripts-f0e4e0c2.js") %>"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
      var $cart = $('#cart');
          $('#clickme').click(function(e) {
           e.stopPropagation();
         if ($cart.is(":hidden")) {
             $cart.slideDown("slow");
         } else {
             $cart.slideUp("slow");
         }
      });
      $(document.body).click(function () {
         if ($cart.not(":hidden")) {
             $cart.slideUp("slow");
         } 
      });
    });
  </script>



  
</html>
